<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Addition Result</title>
</head>
<body>
    <h1>Addition Result</h1>
    <p>The result of the addition is: <span id="result"></span></p>

    <script>
        fetch('/proxy/module1') 
        .then(response => response.text()) // JSON 데이터가 아닌 경우 text()를 사용
        .then(data => {
            document.getElementById('result').textContent = data;
        })
        .catch(error => console.error(error));
    </script>

</body>
</html>
